@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

input,
select,
textarea,
button {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  outline: none;
}

textarea {
  resize: none;
}

:root {
  --primary-color: #23412a;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1502085671122-2d218cd434e6?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bW91dGFpbnxlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.invite-generator {
  padding: 20px 20px 40px;
  width: 410px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff52;
  border-radius: 5px;
}

.link-title {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.invite-generator input,
.invite-generator button {
  padding: 10px;
  font-size: 14px;
  border: none;
}

.invite-generator input {
  border: 1px solid #ffffff52;
  background-color: transparent;
  color: white;
  border-radius: 5px;
}

.invite-generator input::placeholder {
  color: white;
  font-size: 1.2rem;
}

.invite-generator button {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.333);
  color: white;
}

.share-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.share {
  width: calc((100% / 3) - 5px);
}

.qr-box {
  transition: all 0.25s linear;
}

#qrImage {
  width: 10rem;
  height: 10rem;
}

.qr-box p {
  margin-bottom: 1rem;
  color: #fff;
}

#downloadQR {
  color: #fff;
}
